::selection {
  background: #ffd40042; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffd40042; /* Gecko Browsers */
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


#new-tag {margin-left: 3%; margin-right: 3%; font-weight: normal;}

h1 {font-weight: 100;   font-size: calc(3vh + 4vw);
    line-height: 95%;
    letter-spacing: -0.5px;
}


span.keeptogether {
  white-space: nowrap ;
}


.modal-header {

    margin-bottom: 0;
    margin-top: 2%;
    color: black;
    line-height: 115%;
     font-size: calc(0.5vh + 1.2vw);
}

.modal-body {color:#4e4e4e;font-family: 'visuelt-regular'; font-size: 1.4rem; line-height: 140%;padding-bottom: 16px;}


.modal-link {font-family: 'visuelt-regular'; font-size: 1.4rem; line-height: 140%;padding: 3%;}

.letterboxd {padding: 24px 30px 24px 30px;background-color: MediumSeaGreen;color: white;border-radius: 100px; transition: .3s;}

.letterboxd:hover {background-color: forestgreen;}

.linkedin {
color: black;border-radius: 100px;
   text-decoration: underline;
   text-decoration-color: transparent;
   transition: .3s;
   /*add those for opera and mozilla support*/
   -webkit-text-decoration-color: transparent;
   -moz-text-decoration-color: transparent;
}
.linkedin:hover {
   text-decoration-color: inherit;
   /*add those for opera and mozilla support*/
   -webkit-text-decoration-color: inherit;
   -moz-text-decoration-color: inherit;
}

.pocket-text {cursor: progress;}

.loom-ico {
   margin-top: 0;
   color: #625DF5;
   position: relative;
   transition: all 0.2s ease;
}
.horse:hover {
   color: #b4b2f7;
   transform: rotate(90deg);
   position: relative;
}
.mobile-break {
   display: none;
}
.dark-mode-mob {
   display: none;
}
#mob-menu {
   display: none;
}
.pocket-mobile {
   display: none;
}
.pocket-desktop {
   display: block;
}
.skyblue {
   color: skyblue;
}
.orange {
   color: orange;
}
.green {
   color: mediumseagreen;
}
.coral {
   color: coral;
}
.gold {
   color: gold;
}
.blue {
   color: mediumslateblue;
}
.plum {
   color: plum;
}
#title {
   /*color: #8e8e8e;*/
   font-family: 'visuelt-regular';
   padding: 2%;
   left: 0;
   position: fixed;
   bottom: 0;
   font-size: calc(2.2vh + 1.2vw);
   font-weight: normal;
}
a.loomlink {
   color: black;
   font-family: 'visuelt-regular';
   
   font-weight: normal;
}
.loomspin {
   display: inline-block;
}
.loomspin:hover {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}
.rotate {
   -moz-transition: all .3s linear;
   -webkit-transition: all .3s linear;
   transition: all .3s linear;
}
.rotate.down {
   -moz-transform: rotateY(180deg);
   -webkit-transform: rotateY(180deg);
   transform: rotateY(180deg);
}
/* Pocket*/

.pocket:hover {
   margin-top: -30vh;
}
.pocket {
   color: black;
   cursor: help;
   overflow: visible;
   left: -4vh;
   transition: all 0.5s ease;
   font-weight: 500;
   float: right;
   line-height: 170%;
   width: 35%;
   font-size: 4vh;
   flex-direction: top;
   position: relative;
   text-align: center;
   background-color: #ffc800;
   border-radius: 0px 0px 400px 400px;
   margin-top: -48vh;
   padding-bottom: 2%;
}
.pocket:hover:before {
   top: -23vh;
   transform: rotate(0deg);
     z-index: -100000;
}
.pocket:hover {
   overflow: visible;
}
img.pocket-contents {
   position: relative;
}
.pocket:after {
   transition: all 0.5s ease;
   content: "";
   position: absolute;
   top: 3vh;
   left: 0;
   z-index: -100000;
   height: 100%;
   width: 100%;
   background-image: url('img/kim.png');
   background-size: 35%;
   background-repeat: no-repeat;
   margin-left: 38%;
}
.pocket:hover:after {
   top: -13vh;
   left: 12%;
   transform: rotate(4deg);
     z-index: -100000;
}
.pocket:before {
   transition: all 0.5s ease;
   content: "";
   position: absolute;
   top: 3vh;
   left: 0;
   z-index: -100000;
   height: 100%;
   width: 100%;
   background-image: url('img/ios.svg');
   background-size: 50%;
   background-repeat: no-repeat;
   margin-left: 13%;
}
@keyframes fadeIn {
   from {
      opacity: 0;

   }
   to {
      opacity: 1;
   }
}
.fade-in {
   opacity: 0;
   /* make things invisible upon start */
   animation: fadeIn ease-in 1;
   /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
   animation-fill-mode: forwards;
   /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
   animation-duration: .7s;
   animation-delay: .5s
}
.loomlink { cursor: help;
   text-decoration: underline;
   text-decoration-color: transparent;
   /*add those for opera and mozilla support*/
   -webkit-text-decoration-color: transparent;
   -moz-text-decoration-color: transparent;
}
.loomlink:hover {
   text-decoration-color: inherit;
   /*add those for opera and mozilla support*/
   -webkit-text-decoration-color: inherit;
   -moz-text-decoration-color: inherit;
}
.underline {
   text-decoration: underline;
   text-decoration-color: transparent;
   transition: .5s;
   /*add those for opera and mozilla support*/
   -webkit-text-decoration-color: transparent;
   -moz-text-decoration-color: transparent;
}
.underline:hover {
   text-decoration-color: inherit;
   /*add those for opera and mozilla support*/
   -webkit-text-decoration-color: inherit;
   -moz-text-decoration-color: inherit;
}
/*
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -4px;
  opacity: .1;
  background: black;
  height: 1px;
  transition-property: width;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
*/

a.textlink {
   color: black;
}
@keyframes appear {
   0% {
      opacity: 0;
      top: 10vh;
      transform: skewY(15deg);
   }
   100% {
      opacity: 1;
      top: 0;
      transform: skewY(0deg);
   }
}
@keyframes dropin {
   0% {
      opacity: 0;
      top: -10vh;
      transform: skewY(30deg);
   }
   100% {
      opacity: 1;
      top: 0;
      transform: skewY(0deg);
   }
}
@keyframes popup {
   0% {
      opacity: 0;
      bottom: -8em;
      transform: skewY(0deg);
   }
   100% {
      opacity: 1;
      bottom: 0em;
      transform: skewY(0deg);
   }
}
.dropin-1 {
   animation: dropin .8s;
   animation-delay: .2s;
   animation-fill-mode: forwards;
   opacity: 0;
   top: -10vh;
}
.dropin-2 {
   animation: dropin .8s;
   animation-delay: .5s;
   animation-fill-mode: forwards;
   opacity: 0;
}
.dropin-3 {
   animation: dropin .8s;
   animation-delay: .6s;
   animation-fill-mode: forwards;
   opacity: 0;
}
.dropin-4 {
   animation: dropin .8s;
   animation-delay: .7s;
   animation-fill-mode: forwards;
   opacity: 0;
}
.dropin-5 {
   animation: dropin .8s;
   animation-delay: .8s;
   animation-fill-mode: forwards;
   opacity: 0;
}
.dropin-6 {
   animation: dropin .8s;
   animation-delay: .9s;
   animation-fill-mode: forwards;
   opacity: 0;
}
.dropin-7 {
   animation: dropin .8s;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   opacity: 0;
}
/*
.top-nav {animation: dropin .8s;
   animation-delay: .2s;
   animation-fill-mode: forwards;opacity: 0;} */

.btm-nav {
   
   opacity: 1;
   bottom: 0;
   position: fixed;
   width: 100%;
}

#title {
   animation: popup .8s;
   animation-delay: .6s;
   animation-fill-mode: forwards;
   opacity: 0;
   bottom: 0;
   position: fixed;
   width: 100%;
}
.greeting {
   color: #8e8e8e;
   animation: popup .8s;
   animation-delay: .8s;
   animation-fill-mode: forwards;
   opacity: 0;
   bottom: 0;
   font-family: 'visuelt-regular';
   padding: 2%;
   right: 0;
   position: fixed;
   font-weight: normal;
   bottom: 0;
   font-size: calc(0.5vh + 1.2vw);
}
#firstname {

   animation-timing-function: ease-out;
   position: relative;
   animation: appear .8s;
   animation-delay: .2s;
   animation-fill-mode: forwards;
   opacity: 0;
}
#surname {
   z-index: -10000;
   animation-timing-function: ease-out;
   position: relative;
   animation: appear .8s;
   animation-delay: .4s;
   animation-fill-mode: forwards;
   opacity: 0;
}
.nav-top {
   position: fixed;
   top: 0;
}
#nav {
   text-align: left;
   width: 100%;
   font-family: 'visuelt-regular';
   font-weight: normal;
   font-size: calc(2.2vh + 1.2vw);
   margin-block-start: 0em;
   padding-inline-start: 0em;
   position: fixed;
   bottom: 0;
   margin-bottom: 0;
}
#nav:after {
   content: '';
   display: inline-block;
   width: 100%;
}
#nav li {
   display: inline-block;
   padding: 1em;
   padding: 8px 16px 8px 16px;
   border-radius: 12px;
   /*background-color: #e2e2e2;*/
   margin-right: 6px;
   border: 0px solid black;
}
a {
   text-decoration: none;
   cursor: pointer;
}
body {
   overflow: hidden;
}
.dark-mode {
   background-color: #1b1b1b;
   color: white;
}
.icon-darkmode {
   font-size: 3.2vh;
}
button {
   background: none;
   border: none;
}
#footer {
   font-family: 'visuelt-regular';
   font-weight: normal;
   font-size: 18px;
   position: fixed;
   bottom: 0;
   margin-bottom: 2%;
   text-align: right;
   width: 100%;
   margin-right: 2%;
   right: 0;
}
#surname:after {}
.kim {
   font-size: calc(16vh + 16vh);
}
body {
   margin: 0;
   font-family: 'visuelt-regular';
   font-weight: 300;
   background-color: white;
}
#firstname {
   text-align: left;
   width: 71%;

}
#surname {
   text-align: left;
   width: 60%;

   margin-top: -17vh;
}
.flexbox {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   /* Fallback for browsers that do not support Custom Properties */
   height: calc(var(--vh, 1vh) * 100);
   /*background:#f5f5f5;*/
}
.flexbox .container {
   transition: all 0.5s ease;
   padding: 1em;
   /*background:#f5f5f5;*/
}
.container {
   margin-top: 0%;
}
#images {
   position: relative;
   margin-top: -34vh;
   float: right;
   z-index: -11;
}
.kim {
   font-size: calc(30vh + 16vh);
}
#surname {
   margin-top: -25vh;
}





@media only screen and (max-width: 600px) { 

  h1 {font-size: calc(3vh + 6vw);}

   #nav {width: 70%; font-size: calc(2.2vh + 3.2vw);}

  .modal-header {
    font-size: 2.1rem;
}

.modal-body {font-size: 1.3rem;}


  li {padding-bottom: 12px;}

  .mobile-break {display: none;}

  .fade-in {
   
    animation-delay: 0s;

}


  .container {margin-top: 0%;}


.dark-mode-mob {display: block;
  float: left;
    width: 30%;
    text-align: center;
    font-size: 3.2vh;
    margin-top: 12%;z-index: 100000000000;}


.pocket-mobile {display: block;padding:20%;margin-top: 13%}
.pocket-desktop {display: none;}



  #firstname {width: 100%;text-align: left;}


      #title {/*color:#8e8e8e;*/ padding-bottom:14%;left:0;position: fixed;bottom:0;font-size: 2.2vh;font-weight:normal; text-align: center;width: 100%;}


  body {background-color: white;}

  .container {/*transform: rotate(-90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);*/} 

.kim {font-size: calc(8vh + 5vh);}
#surname {margin-top: -6vh;}
.pocket {width:100%; letter-spacing:-1px; font-size: 2vh;margin-top: -7vh;float: left;left: 0; /*transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);*/}


   .pocket:hover {margin-top: -7vh;}


            .pocket:after {transition: all 0.5s ease;

top: -7vh;
}

/*
.pocket:hover:after {
top: -7vh;

}*/
    #title {padding: 2%;padding-left:0;margin-bottom: 13%; width:100%;float: left;text-align: center;}

    .greeting {width: 100%; float: left;
    text-align: center;
    padding: 2%;font-size: 1.6vh;margin-bottom: 6%;padding-right: 0;animation-delay: .7s;}

    .pocket:after {
left: 12%;
transform: rotate(4deg);
}
    

.pocket:before {transition: all 0.5s ease;

top: -12vh;


}


/*.pocket:hover:before {
top: -12vh;
} 
#nav {text-align: center;margin-top: 10%;font-size: 2.4vh;}*/

#nav-container {width: 100%;display: none;}

#nav li {
    display: list-item;
    padding: 1px;
    list-style: none;


}

.hide-mob {display: none;}

#mob-menu {display: block;width: 100%; position: fixed;top: 0; font-family: 'visuelt-regular';font-size: calc(2.2vh + 1.2vw);font-weight:500; }

#mob-menu-r {
width: 35%;
    text-align: left;
    float: left;  list-style-type: none;}

    #mob-menu-l {
width: 35%;
    text-align: right;
    float: left;  list-style-type: none;}

    .mob-menu-list {  list-style-type: none;    padding: 0;}
}
